header {
    background: #292222;
    padding: 20px 0;
}

#LogoPng { }

.caixa {
    position: relative;
    width: 940px;
    margin: auto;
}

main {
    background: #660d0d;
}

nav {
    position: absolute;
    top: 97px;
    right: 124px;
    font-family: sans-serif;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #a108bc;
    text-decoration: underline;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-color: #000000;
    border-width: 2px;
    border-style: solid;
    border: 2px solid #000000;
    border-radius: 10px;
}

.produtos li:hover {
    border-color: #ecbbbb;
}

.produtos li:active {
    border-color: #a188bc;
}

.produtos li:hover h2 {
    font-size: 40px;
    color: #580966;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align: center;
    background: #c7afaf;
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px;
}
